BACKEND_PORT=4000
BACKEND_HOST=127.0.0.1
BACKEND_DATA_DIR=./data
BACKEND_CORS_ORIGIN=http://localhost:3000
HIGGSFIELD_MOCK_MODE=true
# HIGGSFIELD_CLI_PATH=higgsfield
# HIGGSFIELD_IMAGE_MODEL=gpt_image_2
# HIGGSFIELD_VIDEO_MODEL=seedance_2_0
# FFMPEG_PATH=ffmpeg
# FFPROBE_PATH=ffprobe
# BACKEND_MAX_CLI_CONCURRENCY=2
# BACKEND_MAX_RENDER_CONCURRENCY=1
# BACKEND_MAX_IMAGE_BYTES=31457280
# BACKEND_MAX_VIDEO_BYTES=262144000
# BACKEND_MAX_MUSIC_BYTES=41943040
# BACKEND_POLL_INITIAL_DELAY_MS=2000
# BACKEND_POLL_MAX_DELAY_MS=10000
# BACKEND_POLL_WINDOW_MS=720000
